body {
    background-color: lightslategray;
}

p {
    width: 300;
    padding: 20px;
    margin: auto;
    background-color: #0F4069;
    font: whitesmoke;
    border: 2px solid #e6eaef;
    border-radius: 15px 50px;

}